/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities*/
    body{
        font-family: 'Poppins', sans-serif;
        background-color: #F3F1FF;
    }
    main{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }
    .container{
        background-color: #FFFFFF;
        width: 870px;
        padding: 30px;
        margin-top: 21px;
        border-radius: 7px;
    }
    hr{
        border: 1px solid #d1d1d1;
        margin-bottom: 27px;
    }
/* top player style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display:flex;
    align-items:center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* tip blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9f9f9f;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/*--------------------------
    courses style
 ------------------ */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}

.course .course-banner img{
    width: 224px;
    height: 104px;
}
 .course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC107;
}
.fa-star.empty{
    color: #aeaeae;
}
/* Media queries */
/*==================
        Mobile Devices
================*/
@media screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    
}

/* Tablet devices */
@media only screen and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
    }
}